<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="{{baseUrl}}"> {% endcomment %} -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTRFM1QHGB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-ZTRFM1QHGB");
    </script>
    <title>ezkl.sh blogs</title>
    <link rel="stylesheet" href="{{root}}styles.css" />
  </head>
  <body>
    <header>
      <h1>ezkl.sh</h1>
      <nav>
        <a href="{{root}}">home</a>
        <span>::</span>
        <a href="{{root}}blogs/">blogs</a>
        <span>::</span>
        <a href="{{root}}gallery.html">gallery</a>
        <span>::</span>
        <a href="{{root}}about.html">about</a>
      </nav>
    </header>
    <main>
      <h2>blogs</h2>
      <section class="block">
        <ul class="list">
          {{list}}
        </ul>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
