<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Open Graph-->
    <meta name="og:title" content="{{title}}" />
    <meta name="og:description" content="{{description}}" />
    <meta name="og:url" content="{{root}}blogs/{{slug}}" />
    <meta name="og:image" content="{{root}}assets/img/preview-{{slug}}.png"/>
    <!--Twitter/X Card-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="{{root}}assets/img/preview-{{slug}}.png" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZTRFM1QHGB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-ZTRFM1QHGB");
    </script>
    <!-- <base href="{{baseUrl}}"> -->
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}styles.css" />
  </head>
  <body>
    <header>
      <h1>ezkl.sh</h1>
      <nav>
        <a href="{{root}}">home</a>
        <span>::</span>
        <a href="{{root}}blogs/">blogs</a>
        <span>::</span>
        <a href="{{root}}about.html">about</a>
      </nav>
    </header>
    <main>
        <article>
          <div id="post-html">
            {{content}}
          </div>
        </article>
    </main>
  </body>
</html>
